/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}

h1,h2,h3,
ul,ol,p,img {
    margin-bottom: 1.5rem;
}

body {
	background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
}
  
.locations,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* ==== HEADER STYLES ==== */

.cover {
	background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
	display: table;
	height: 100vh;
  width: 100vw;
	background-size: cover;
	text-align: center;
}

.hero-text-wrapper {
	display: table-cell;
  vertical-align: middle;
}

.hero-text {
  margin: 0 auto;
  padding: 1.25rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
	border-radius: 3%;
}

.hero-text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.tagline::after {
  display: block;
	content: "";
	background-color: #fff;
	height: 1px;
	width: 12.515625rem;
	margin: .5rem auto;
}

.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

/* ==== LOCATION STYLES ==== */

.blurb img {
  height: 7.5rem;
}

.blurb div {
  font-family: 'Muli', sans-serif;
}

.blurb::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.75rem auto;
  background-color: #444349;
}

.blurb h3 {
  font-weight: 900;
}

/* ==== PROGRAM STYLES ==== */

.program {
	background: hsla(100,0%,0%,.6);
	width: 100vw;
	font-family: 'Muli', sans-serif;
	color: #d2ba87;
	text-align: left;
}

.program h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1.25rem;
  text-align: center;
}

.program p {
  font-style: italic;
}

/* ==== GIFTS STYLES ==== */

.gifts img {
  height: 7.5rem;
}

.gifts p{
	font-size: 1.125rem;	
}

.gifts p:last-child {   /* To even out the bottom and top margins of this section. */
  margin-bottom: 0;
}



.faq {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
  text-align: center;
}

.faq h2 {
  margin-top: 1rem; /* To even out top and bottom margins. */
}

.faq p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.question-group::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 50%;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

.question {
  font-weight: 800;
  margin-bottom: .625rem;
}

.answer {
  margin-bottom: 1.5rem;
}

/* ==== FOOTER STYLES ==== */

footer {
	height: 10vh;
  width: 100vw;
  background-color: #606060;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-size: .875rem;
	display: table;
  text-align: center;
}
	
.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer small {
  line-height: 1.5;
}

@media (min-width: 768px) {

  .cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }

}

@media (min-width: 768px) {

  .cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }

}

@media (min-width: 768px) {

  .hero-text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }

  .hero-text h1 {
    font-size: 7rem;
  }

}

@media (min-width: 768px) {

  .tagline {
    text-transform: uppercase;
  }

}

@media (min-width: 768px) {

  .blurb {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }

  .blurb::after {
    display: none;
  }

}

@media (min-width: 768px) {

  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }

}

@media (min-width: 768px) {

  .question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }

  .question-group::after {
    display: none;
  }

  .question-group h3 {
    text-align: left;
  }

}


@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}