/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}

h1,h2,h3,
ul,ol,p,img {
    margin-bottom: 1.5rem;
}

body {
	background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
}
  
.locations,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* ==== HEADER STYLES ==== */

.cover {
	background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
	display: table;
	height: 100vh;
  width: 100vw;
	background-size: cover;
	text-align: center;
}

.hero-text-wrapper {
	display: table-cell;
  vertical-align: middle;
}

.hero-text {
  margin: 4rem;
  padding: 1.25rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
	border-radius: 3%;
}

.hero-text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.tagline::after {
  display: block;
	content: "";
	background-color: #fff;
	height: 1px;
	width: 12.515625rem;
	margin: .5rem auto;
}

.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

/* ==== LOCATION STYLES ==== */

.blurb img {
  height: 7.5rem;
}

.blurb div {
  font-family: 'Muli', sans-serif;
}

.blurb::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.75rem auto;
  background-color: #444349;
}

.blurb h3 {
  font-weight: 900;
}



